@import 'assets/scss/_variables';

.eventDetail {
    width: calc(100vw - 248px);
    .title {
        font-size: 21px;
        font-weight: bold;
        margin: 20px 20px 0 20px;

        span {
            font-size: 14px;
            font-weight: normal;
            color: $menu_color_2;
            // margin-left: 5px;
        }
    }
    .chart {
        width: calc(100% - 40px);
        // height: 500px;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .chart_bg {
            background: #fff;
            margin: 0 5px;
            padding: 10px;
        }
        .chart_30 {
            width: 33%;
        }
        .chart_40 {
            width: 40%;
        }
        .chart_50 {
            width: 50%;
        }
        .chart_60 {
            width: 60%;
        }
    }
}
