// base color
$bg_color: #129797;
$bg_color_top: #21a1a0;
$bg_color_bottom: #4bd0ce;
$menu_color_1: #fffbf97b;
$iii_color: #365899;
$iii_name: #173265;

$primary-color: #feebe1;
$secondary-color: #fffbf9;
$third-color: #f8f8f8;
$black: #302d2c;
$blue-light: #9193b4;
$blue-dark: #20234d;
$white: #fff;
$green: #20a2a0;
$danger: #ff5555;
$light-green: #e9f6f6;

$btn-main-color: #21a1a0;
$btn-main-color-hover: #26bbbb;
$btn-cancel-color: rgba(#21a1a0, 0.1);
$btn-cancel-color-hover: rgba(#21a1a0, 0.2);
$btn-disable: #f5f7fa;

$header-height: 6.25rem;
$footer-height: 4.25rem;

$header-height-rwd: 3.125rem;
$footer-height-rwd: 8rem;

$el-input-height: 50px;

// 限縮網頁內容
$basic-padding: 2rem;
