@import 'assets/scss/_variables';
.card {
    min-width: 187px;
    max-width: 385px;
    min-height: 150px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: $bg_color;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: $white;

    .inner {
        height: 100%;
        // overflow-x: hidden;
        // overflow-y: auto;
        .cardTitle {
            max-width: 70px;
            margin-bottom: 5px;
            font-size: 14px;
            border-radius: 10px;
            text-align: center;
            color: $bg_color;
            background-color: $white;
        }
        .cardContent {
            width: 100%;
            font-size: 16px;
            .cardRow {
                border-bottom: 1px dashed $menu_color_1;
                padding: 3px 10px 3px 0;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                p {
                    margin: 0;
                    // font-weight: bold;
                }
                // &:last-child {
                //     /* 最后一行的 border-bottom 设置为透明或与背景颜色相同 */
                //     border-bottom: 1px solid transparent; /* 或使用与背景颜色相同的颜色 */
                // }
                &::after {
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 0;
                    display: block;
                    width: 10px;
                    height: 25px;
                    border-radius: 10px;
                }
            }
            .cardCompare {
                display: flex;
                // justify-content: center;
                // align-items: flex-start;
                flex-direction: column;
                // font-size: 37px;
                line-height: normal;
                height: 136px;
                overflow-y: auto;
                overflow-x: hidden;

                span {
                    font-size: 14px;
                    p {
                        margin: 0;
                        padding: 0;
                        display: inline;
                        font-size: 18px;
                    }
                }

                .user {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 4.5px 10px 4.5px 0;
                    margin: 0 10px 0 0;
                    border-bottom: 1px dashed $menu_color_1;
                    &:last-child {
                        border-bottom: 1px dashed transparent;
                    }
                }
            }

            .dangerous {
                position: relative;
                padding-left: 15px;
                &::after {
                    background: $danger;
                    animation: breathe 0.5s infinite alternate; /* 呼吸閃爍動畫 */
                }
            }
            .warning {
                position: relative;
                padding-left: 15px;
                &::after {
                    background: $warning;
                    // animation: expand 2s forwards; /* 動畫2秒，最後保持最終狀態 */
                }
            }
            .safe {
                position: relative;
                padding-left: 15px;
                &::after {
                    background: $safe;
                    // animation: expand 2s forwards; /* 動畫2秒，最後保持最終狀態 */
                }
            }

            // 滾動條
            ::-webkit-scrollbar {
                background: $menu_color_2 !important; // srcoll bar background
                width: 5px;
                height: 5px;
                border-radius: 5px;
            }

            ::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: $scroll_bar;
            }

            ::-webkit-scrollbar-thumb:hover {
                background-color: $table_color;
            }
        }
        .totalContent {
            display: flex;
            align-items: center;
            .chart {
                width: 35%;
            }
            .cardTotal {
                width: 65%;
                display: flex;
                flex-wrap: wrap;
                .user {
                    width: 33%;
                    .type {
                        display: flex;
                        align-items: center;
                        // margin-bottom: 6px;
                        .user_color {
                            background: red;
                            width: 11px;
                            height: 11px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                    }
                    .val {
                        font-size: 30px;
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .card-width-50 {
            display: flex;
            flex-wrap: wrap;
            .cardRow {
                width: 50%;
            }
        }
    }
}

@keyframes breathe {
    0% {
        opacity: 0.5; /* 初始透明度 */
    }
    100% {
        opacity: 1; /* 最大透明度 */
    }
}

// @keyframes expand {
//     0% {
//         width: 0;
//     }
//     100% {
//         width: 10px;
//     }
// }

.table {
    background-color: $bg_color;
}
.compare {
    background-color: $iii_color;
    .inner {
        .cardTitle {
            color: $iii_color;
        }
    }
}
.total {
    background-color: $iii_color_2;
    min-width: 581px;
    .inner {
        .cardTitle {
            color: $iii_color_2;
        }
    }
}
