@import 'src/styles/_variables';
.card {
    min-width: 180px;
    max-width: 360px;
    min-height: 150px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background-color: $bg_color;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: $white;

    .inner {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        .cardTitle {
            max-width: 70px;
            margin-bottom: 5px;
            font-size: 12px;
            border-radius: 10px;
            text-align: center;
            color: $bg_color;
            background-color: $white;
        }
        .cardContent {
            width: 100%;
            font-size: 14px;
            .cardRow {
                border-bottom: 1px dashed $menu_color_1;
                padding: 3px 10px 3px 0;
                display: flex;
                justify-content: space-between;
                p {
                    margin: 0;
                    // font-weight: bold;
                }
                // &:last-child {
                //     /* 最后一行的 border-bottom 设置为透明或与背景颜色相同 */
                //     border-bottom: 1px solid transparent; /* 或使用与背景颜色相同的颜色 */
                // }
            }
            .cardCompare {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                font-size: 37px;
                line-height: normal;
                span {
                    font-size: 12px;
                }
                .line {
                    width: 100%;
                    // background: $menu_color_1;
                    border-bottom: 1px dashed $menu_color_1;
                    height: 1px;
                }
                .all_user {
                    font-size: 24px;
                }
            }
            .dangerous {
                position: relative;
                padding-left: 15px;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 10px;
                    height: 28px;
                    background: $danger;
                    animation: breathe 0.5s infinite alternate; /* 呼吸閃爍動畫 */
                }
            }
            .warning {
                position: relative;
                padding-left: 15px;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 10px;
                    height: 28px;
                    background: $warning;
                    animation: expand 2s forwards; /* 動畫2秒，最後保持最終狀態 */
                }
            }
            .safe {
                position: relative;
                padding-left: 15px;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 10px;
                    height: 28px;
                    background: $safe;
                    animation: expand 2s forwards; /* 動畫2秒，最後保持最終狀態 */
                }
            }
        }
        .card-width-50 {
            display: flex;
            flex-wrap: wrap;
            .cardRow {
                width: 50%;
            }
        }
    }
}

@keyframes breathe {
    0% {
        opacity: 0.5; /* 初始透明度 */
    }
    100% {
        opacity: 1; /* 最大透明度 */
    }
}

@keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 10px;
    }
}

.table {
    background-color: $bg_color;
}
.compare {
    background-color: $iii_color;
    .inner {
        .cardTitle {
            color: $iii_color;
        }
    }
}
