@import 'src/styles/_variables';

.title {
    font-size: 21px;
    font-weight: bold;
    margin: 20px 20px 0 20px;

    span {
        font-size: 12px;
        font-weight: normal;
        color: $menu_color_2;
        // margin-left: 5px;
    }
}
.top_card {
    display: flex;
    margin: 20px 20px 0 20px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 5px 0px;
}
.home {
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    overflow: hidden;
    .table_title {
        margin: 0;
        padding: 15px;
        background: $table_color;
        font-weight: bold;
    }
    .editable-row .ant-form-item-explain {
        position: absolute;
        top: 100%;
        font-size: 12px;
    }
}
