@import 'assets/scss/_variables';

.menu {
    // background-image: linear-gradient(to bottom, $bg_color_top, $bg_color_bottom);
    background-image: linear-gradient(195deg, $bg_color_top, rgb(26, 115, 232));
    width: 248px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        .menu_Logo {
            text-align: center;
            padding-left: 24px;
            padding-right: 24px;
            margin-top: 40px;
            margin-bottom: 28px;
            color: $white;
            font-weight: 500;
            font-size: 14px;
            height: 124px;
            img {
                width: 100px;
            }
            p {
                margin: 0;
            }
            .logo_name {
                color: $iii_name;
            }
            .line {
                width: 80%;
                margin: 0 auto;
                height: 1px;
                background-color: $menu_color_1;
            }
        }

        ul {
            height: calc(100vh - 385px);
            overflow-y: auto;
            overflow-x: hidden;
            li {
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 24px;
                border-left-color: $white;
                border-left-width: 8px;
                min-height: 40px;
                font-size: 14px;
                font-weight: 500;
                span {
                    color: $white;
                    font-size: 16px;
                }
                .menu_icon {
                    display: inline-block;
                    width: 10px;
                    // height: 15px;
                    // background-color: $bg_color_top;
                    // margin-right: 10px;
                    // border-radius: 50%;
                }
            }
            .menu_title {
                padding-top: 24px;
                padding-left: 24px;
                padding-bottom: 12px;
                border-left: 8px solid transparent;
                color: $white;
                font-size: 16px;
                font-weight: bold;
            }
            .link {
                border-left: 8px solid transparent;
            }
            .menu_active {
                border-left: 8px solid #fff;
                background-image: linear-gradient(to right, $menu_color_1, transparent);
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        height: 140px;
        padding-left: 24px;
        font-size: 18px;
        color: $table_color;
        margin-bottom: 36px;
        img {
            width: 40px;
            margin-right: 8px;
        }
        .setting {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            cursor: pointer;
        }
    }
    h1 {
        font-size: 26px;
        color: $white;
    }
    span {
        font-size: 14px;
    }
    p {
        margin: 0;
        font-weight: bold;
    }
    .name {
        display: flex;
        flex-direction: column;
        text-transform:uppercase;
        span {
            font-weight: 100;
            font-size: 12px;
        }
    }
}
.admin_menu {
    background-image: linear-gradient(to bottom, #4e4394, #4e4394);
    .top {
        .menu_Logo {
            height: auto;
            img {
                width: 100%;
            }
            p {
                margin: 0;
            }
            .logo_name {
                color: #fff;
            }
        }
    }
}
